@import 'nav.css';
@import 'fish.css';

body {
  background-color: lime;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

aside{
  flex-basis: 30%;
  border: 1px solid red;
  padding: 0 5px;
}

.highlightFish {
    background-color: turquoise;
    color: turquoise;
}